<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/resume.css">
    <link rel="icon" href="../static/images/asterisk-alt.png" />
    <title>Official IPL Fantasy League</title>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="../static/js/portfolio.js"></script>
    
      <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <meta content="">
    <script type="text/javascript">
    $(document).ready(function() {
   
      
   $("html").niceScroll({cursorborder:"#ccc",cursorcolor:"#000",boxzoom:true,touchbehavior:false}); // First scrollable DIV
   $('.workMenu').addClass('menuSeleceted');

  });



    </script>
  </head>
  <body>
  	<div class="outerWrapper">
  		<div class="wrapper">
  			<!-- <div class="loading-wrap">
  <div class="triangle1"></div>
  <div class="triangle2"></div>
  <div class="triangle3"></div>
</div> -->

  		<div class="header" style="position:fixed;" >
   <a href="http://kumarkrati.com#home"><p class="helloMenu" style="margin-left:30%;">HELLO</p></a>
    <a href="http://kumarkrati.com#about"><p class="aboutMenu">SKILLS</p></a>
    <span>*</span>
    <a href="http://kumarkrati.com#work"><p class="workMenu">WORK</p></a>
    <a href="http://kumarkrati.com#contact"><p class="contactMenu">CONTACT</p></a>
  </div>
  <div id="project-nav">
    <div class="container grid">
      <ul>
       <a href="http://kumarkrati.com#work" style="color:#ffffff;"> <li><img src="../static/images/back-work.png" />BACK TO WORK</li></a>
        <a href="http://kumarkrati.com/views/niveaahdeo.html" style="color:#ffffff;"><li style="float:right;"><img src="../static/images/next-proj.png" style="float:right;margin-left:10px;margin-top:4px;" />NEXT PROJECT</li></a>

      </ul>
    </div>
  </div>
  <div class="workOverview">
    <h3>Official IPL Fantasy League</h3>
    <span>The official fantasy cricket - a game that gives the fun of being an IPL team owner - developed for BCCI. People can create their virtual XI and earn points based on players’ actual performances. Deeply integrated with social networks, it also lets people create their own leagues and play among their friends . Over 500,000 users in 2 months.</span>
    <div class="macOuter">
    <img src="../static/images/ipl/001.png">
    </div>
    <div class="macOuter">
    <img src="../static/images/ipl/002.png">
    </div>
    <div class="macOuter">
    <img src="../static/images/ipl/003.png">
    </div>
    <div class="macOuter">
    <img src="../static/images/ipl/004.png">
    </div>
    <div class="macOuter">
    <img src="../static/images/ipl/005.png">
    </div>
    <div class="macOuter">
    <img src="../static/images/ipl/007.png">
    </div>

  </div>
   </div>
 </div>

  </body>
</html>