<!DOCTYPE html>
<html lang="en"><head>

	<!--Meta-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<link rel="icon" href="../static/images/asterisk-alt.png" />
	<title>Kumar Krati Gupta - Resume</title>
	
	<!--Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900" rel="stylesheet" type="text/css">
	
	<!--Styles-->
	
	<link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
	
		
<style type="text/css"></style><style type="text/css"></style></head>
<body>

<div id="cv">

 	<div class="container grid">
 		<div class="col-1-1 cv-section"> 	
    		
			<div class="content cv-contact">
				<ul>
					<li><a href="mailto: kumarkratigupta@gmail.com">kumarkratigupta@gmail.com</a></li>
					<li><a href="http://kumarkrati.com">kumarkrati.com</a></li>
				</ul>
			</div><!--end-contact-info-->
    			
			<div class="content cv-intro" style="margin: 30px 0 30px 0;">
				<h1><strong>Hello!</strong> I'm Kumar Krati Gupta,<br />
<p>Product Manager/Tech Evangelist, with almost 7 years of experience. I am specialized in creating beautiful, yet functional products. I'm also a full stack developer that's always wanting to grow, learn and try something new. I love what I do and I work exceptionally hard with who I work with.</p>
			</div><!--end-cv-intro-->
   
		</div><!--end-cv-section-->
	</div><!--end-container-->

 	<div class="container grid">
 		<div class="col-4-12 cv-section-name"> 	
			<div class="content">
				<h2>Experience</h2>
			</div><!--end-item-->
		</div><!--end-col-4-12-->
    		
 		<div class="col-8-12 cv-section"> 
			<div class="content item">
				<h2>Product Manager and Tech Evangelist</h2>
				<h3>9x Media Pvt Ltd</h3>
				<h4 class="active">September 2016 - Present</h4>
			</div>
 		        <div class="content item">
				<h2>UI/UX developer and Associate Product Manager</h2>
				<h3>WithMe</h3>
				<h4>December 2015 - September 2016</h4>
			</div>
			<div class="content item">
				<h2>Front End and Creative Lead</h2>
				<h3>Refiral Solutions Pvt Ltd.</h3>
				<h4>Mar 2015 - Nov 2015</h4>
			</div>
			<div class="content item">
				<h2>Front End Developer</h2>
				<h3>TenTenTen Digital Products Pvt Ltd.</h3>
				<h4>Nov 2011 - Feb 2015</h4>
			</div><!--end-item-->
			
			<div class="content item">
				<h2>Solution Specialist</h2>
				<h3>Webron Technologies.</h3>
				<h4>Sep 2011 - Nov 2011</h4>
			</div><!--end-item-->
				
			<!--end-item-->
   
		</div><!--end-cv-section-->
	</div><!--end-container-->
	
 	<div class="container grid" style="margin-bottom: 20px;">
 		<div class="col-4-12 cv-section-name"> 	
			<div class="content">
				<h2>Skillset</h2>
			</div><!--end-item-->
		</div><!--end-col-4-12-->
		
 		<div class="col-8-12 cv-section">
			<div class="content item">
				<h4>Expert</h4>
				<h2>Product Management</h2>
			</div>
			<div class="content item">
				<h4>Expert</h4>
				<h2>Wireframes</h2>
			</div>
			<div class="content item">
				<h4>Expert</h4>
				<h2>User-Centered Design</h2>
			</div>
			<div class="content item">
				<h4>Expert</h4>
				<h2>Product Roadmap</h2>
			</div>
 			<div class="content item">
				<h4>Expert</h4>
				<h2>Product Planning and Conceptualization</h2>
			</div>
			<div class="content item">
				<h4>Expert</h4>
				<h2>HTML5/CSS3</h2>
			</div>
		       <!--<div class="content item">
				<h4>Advanced</h4>
				<h2>Jquery</h2>
			</div>end-item-->
			<div class="content item">
				<h4>Advanced</h4>
				<h2>Javascript</h2>
			</div>
			<div class="content item">
				<h4>Intermediate</h4>
				<h2>AngularJS/AngularJS 2/4</h2>
			</div>
      		        <div class="content item">
				<h4>Intermediate</h4>
				<h2>NodeJS</h2>
			</div>
			<div class="content item">
				<h4>Advanced</h4>
				<h2>Phonegap</h2>
			</div>	
			<div class="content item last">
				<h4>Expert</h4>
				<h2>Mobile and Responsive</h2>
			</div>
			<div class="content item last">
				<h4>Expert</h4>
				<h2>Photoshop</h2>
			</div>
			<!--end-item-->
			
			<!--<div class="content item">
				<h4>Clicking Knowledge</h4>
				<h2>Photography</h2>
			</div>end-item-->
		
   
		</div><!--end-cv-section-->
	</div><!--end-container-->
	<div class="container grid">
 		<div class="col-4-12 cv-section-name"> 	
			<div class="content">
				<h2>Work</h2>
			</div><!--end-item-->
		</div><!--end-col-4-12-->
		
 		<div class="col-8-12 cv-section education">
			<div class="content item">
				<h2>SpotboyE Website</h2>
				<h5>Skills Used- Product management, Wireframes, Planning, AngularJS, NodeJS, HTML4, CSS2/3, Javascript, Mobile and Responsive</h5>	
				<h3>Its an entertainment news portal with almost 2 million monthly active users. As a product manager, I redesigned the whole UI/UX of the website, built in-house tech team, structured the AWS servers from scratch for handling the high traffic and helped in increasing overall organic traffic by 200% and also decreased Bounce Rate from 85% to 52%. 
					</h3>
			</div>
			<div class="content item">
				<h2>SpotboyE App</h2>
				<h5>Skills Used- User-centered Design, Wireframes, Swift, Java</h5>	
				<h3>Created a easy to use user experience for the SpotboyE ios and android app. With the new UX, avergae time spent on the app got increased by 50%. Helped/Coded with the team to create the rich and functional user experience.</h3>
			</div>
 			<div class="content item">
				<h2>WithMe Mobile App</h2>
				<h5>Skills Used- Phonegap, AngularJS, NodeJS, HTML4, CSS2/3, Jquery, Javascript, Mobile and Responsive</h5>	
				<h3>Fashion related mobile app which helps girls to decide what to wear, when to wear. With over 30K+ downloads, I helped the company in developing the app from scratch and building the super awesome team. Created a dashobard for the app in Angular JS and integrated tools like localytics, push analytics in the dashboard. Also made it Mobile friendly using Angular Material.</h3>
			</div>
 			<div class="content item">
				<h2>Refiral Website</h2>
				<h5>Skills Used- Angular JS, HTML4, CSS2/3, Jquery, Javascript, Mobile and Responsive</h5>	
				<h3>An online tool which helps clients to create campaigns for there e-commerce website. Users can create popups, buttons, banners etc from the tool which was created by me. This tool is used by over 500+ companies. Dashboard was created using Angular JS where clients can check how there campaign is running. Added different kind of charts and grpahs so that clients can have proper understanding of the campaign.</h3>
			</div> 
			<div class="content item">
				<h2>Official IPLT20 Fantasy League (2014) </h2>
				<h5>Skills Used- HTML4, CSS2/3, Jquery, Javascript, Mobile and Responsive</h5>	
				<h3>Over 1 million users in 2 months this game is very popular between the twitteratis. This website has been featured on sportskeeda.com.</h3>
			</div>			
			<div class="content item">
				<h2>Official CLT20 Fantasy League</h2>
				<h5>Skills Used- HTML4, CSS2/3, Jquery, Javascript, Mobile and Responsive</h5>	
				<h3>The immensely popular Fantasy Cricket game created for CLT20. A feature-rich game, with nuanced rules, that is extremely easy to play, and is bundled with lot of cool stuff. Over 70,000 users in 1 months.</h3>
			</div><!--end-item-->
			
			<div class="content item">
				<h2>NIVEA - Rock The Ramp</h2>
				<h5>Skills Used- HTML4, CSS2/3, Jquery, Javascript, Mobile and Responsive</h5>	
				<h3>An app that turns every woman into a model for NIVEA Whitening Deodorant.
Women could convert their photos into posters using frames and applying filters etc. and share it with their friends on Facebook to win a chance to walk the ramp with Anushka Sharma.</h3>
			</div>

			<div class="content item">
				<h2>NIVEA - Go Sleeveless</h2>
				<h5>Skills Used- HTML4, CSS2/3, Jquery, Javascript</h5>	
				<h3>A micro-site for NIVEA Whitening Deodorant. Sleeveless is an attitude. "Go Sleeveless" campaign urges women to be comfortable with their personality and get the confidence to flaunt their fairer underarms.</h3>
			</div><!--end-item-->

			<div class="content item">
				<h2>NIVEA - Armprint</h2>
				<h5>Skills Used- HTML4, CSS2/3, Jquery, Javascript</h5>	
				<h3>An app for NIVEA that gives people a way to flaunt their attitude. Users can choose an Armprint that suits them best, share it on Facebook, and get it delivered for free.</h3>
			</div><!--end-item-->

			<!--end-item-->

			<div class="content item">
				<h2>MakeMyTrip- Tripalong</h2>
				<h5>Skills Used- HTML4, CSS2/3, Jquery, Javascript</h5>	
				<h3>An idea we conceived and executed for MakeMyTrip. It helps people find old friends and make new friends while travelling.</h3>
			</div><!--end-item-->

			<div class="content item">
				<h2>Official IPL Fantasy League</h2>
				<h5>Skills Used- HTML4, CSS2/3, Jquery, Javascript</h5>	
				<h3>The official fantasy cricket – a game that gives the fun of being an IPL team owner – developed for BCCI. People can create their virtual XI and earn points based on players’ actual performances. Deeply integrated with social networks, it also lets people create their own leagues and play among their friends . Over 500,000 users in 2 months.</h3>
			</div><!--end-item-->

			<div class="content item">
				<h2>NIVEA - Ah-Deo</h2>
				<h5>Skills Used- HTML4, CSS2/3, Jquery, Javascript</h5>	
				<h3>An app conceptualized and developed for NIVEA. People could create their own version of NIVEA Fresh Active TVC from morning routine sounds on an easy & super cool interface and share it on their networks.</h3>
			</div><!--end-item-->

			<div class="content item">
				<h2>NIVEA - Share n Shop</h2>
				<h5>Skills Used- HTML4, CSS2/3, Jquery, Javascript</h5>	
				<h3>A promotional app that turned every woman into a model for NIVEA Whitening Deodorant. Women could convert their photos into NIVEA posters and share it with their friends to win a shopping spree with Anushka Sharma.</h3>
			</div><!--end-item-->
			
			<!--end-item-->
				
		</div><!--end-cv-section-->
	</div>	
 	<div class="container grid">
 		<div class="col-4-12 cv-section-name"> 	
			<div class="content">
				<h2>Education</h2>
			</div><!--end-item-->
		</div><!--end-col-4-12-->
		
 		<div class="col-8-12 cv-section education"> 
				
			<div class="content item">
				<h2>Geetanjali Institute Of Technical Studies</h2>
				<h5>Computer Science</h5>
				<h3>2011</h3>
			</div><!--end-item-->
				
			<div class="content item">
				<h2>Central Public School</h2>
				<h5>C.B.S.E</h5>	
				<h3>2006</h3>
			</div><!--end-item-->
				
			<div class="content item">
				<h2>Private</h2>
				<h5>R.B.S.E</h5>
				<h3>2004</h3>
			</div><!--end-item-->
			
			<div class="content item last">
				<a href="mailto: dustin@zindustry.com" class="btn">Hire Me ➝ </a>
				<a href="http://zindustry.com" class="btn">View Work ➝ </a>
			</div><!--end-item-->
				
		</div><!--end-cv-section-->
	</div><!--end-container-->
	<div class="container grid">
 		<div class="col-4-12 cv-section-name"> 	
			<div class="content">
				<h2>Personal Details</h2>
			</div><!--end-item-->
		</div><!--end-col-4-12-->
		
 		<div class="col-8-12 cv-section education"> 
				
			<div class="content item">
				<h2>Name</h2>
				<h3>Kumar Krati Gupta</h3>
			</div><!--end-item-->
			
			<div class="content item">
				<h2>Contact No.</h2>
				
				<h3>+91-7665584730</h3>
			</div>

			<div class="content item">
				<h2>Website</h2>
				
				<h3>kumarkrati.com</h3>
			</div>

			<div class="content item">
				<h2>Email</h2>
				
				<h3>kumarkratigupta@gmail.com</h3>
			</div><!--end-item-->
				
			<!--end-item-->
			
			<!--end-item-->
				
		</div><!--end-cv-section-->
		<hr></hr>
	</div><!--end-container-->
	
		
</div><!--end-cv-->
	

</body></html>
