<!DOCTYPE html>
<html lang="en"><head>

	<!--Meta-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<title>Kumar Krati Gupta - Resume</title>
	
	<!--Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,600italic,700italic,800,800italic" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900" rel="stylesheet" type="text/css">
	
	<!--Styles-->
	
	<link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
	
		
<style type="text/css"></style><style type="text/css"></style></head>
<body>

<div id="cv">

 	<div class="container grid">
 		<div class="col-1-1 cv-section"> 	
    		
			<div class="content cv-contact">
				<ul>
					<li><a href="mailto: kumarkratigupta@gmail.com">kumarkratigupta@gmail.com</a></li>
					<li><a href="http://kumarkrati.com">kumarkrati.com</a></li>
				</ul>
			</div><!--end-contact-info-->
    			
			<div class="content cv-intro" style="margin: 30px 0 30px 0;">
				<h1><strong>Hello!</strong> I'm Kumar Krati Gupta,<br />a Front End Developer <span>with a focus on web, UI/UX, mobile <em>&amp;</em> graphic design</span></h1>
				<p>I’m a versatile designer specialized in creating beautiful, yet functional websites and digital interfaces. I love helping clients achieve their goals and grow their brands. I'm a very passionate designer that's always wanting to grow, learn and try something new. I have years of industry experience and I have worked with many exceptional companies and clients during those years. I love what I do and I work exceptionally hard with who I work with.</p>
			</div><!--end-cv-intro-->
   
		</div><!--end-cv-section-->
	</div><!--end-container-->

 	<div class="container grid">
 		<div class="col-4-12 cv-section-name"> 	
			<div class="content">
				<h2>Experience</h2>
			</div><!--end-item-->
		</div><!--end-col-4-12-->
    		
 		<div class="col-8-12 cv-section"> 

			<div class="content item">
				<h2>Software Engineer</h2>
				<h3>TenTenTen Digital Products Pvt Ltd.</h3>
				<h4 class="active">2011 - Present</h4>
			</div><!--end-item-->
			
			<div class="content item">
				<h2>Senior Designer</h2>
				<h3>Red Ventures,  Full-Time</h3>
				<h4>Nov 2012 - Oct 2013</h4>
			</div><!--end-item-->
				
			<div class="content item">
				<h2>Lead Designer</h2>
				<h3>Rockettheme, Full-Time  (Remote)</h3>
				<h4>Mar 2008 - Jun 2010</h4>
			</div><!--end-item-->
				
			<div class="content item last">
				<h2>Senior Web Designer</h2>
				<h3>Element Fusion, Full-Time</h3>
				<h4>Sep 2005 - Mar 2008</h4>
			</div><!--end-item-->
   
		</div><!--end-cv-section-->
	</div><!--end-container-->
	
 	<div class="container grid">
 		<div class="col-4-12 cv-section-name"> 	
			<div class="content">
				<h2>Skillset</h2>
			</div><!--end-item-->
		</div><!--end-col-4-12-->
		
 		<div class="col-8-12 cv-section"> 
 		
			<div class="content item">
				<h4>Expert</h4>
				<h2>Adobe Photoshop</h2>
			</div><!--end-item-->
				
			<div class="content item">
				<h4>Expert</h4>
				<h2>Adobe Fireworks</h2>
			</div><!--end-item-->
				
			<div class="content item">
				<h4>Advanced</h4>
				<h2>Adobe Illustrator</h2>
			</div><!--end-item-->
				
			<div class="content item">
				<h4>Advanced</h4>
				<h2>HTML/CSS</h2>
			</div><!--end-item-->
			
			<div class="content item">
				<h4>Working Knowledge</h4>
				<h2>Jquery</h2>
			</div><!--end-item-->
				
			<div class="content item">
				<h4>Working Knowledge</h4>
				<h2>PHP/MySQL</h2>
			</div><!--end-item-->
				
			<div class="content item last">
				<h4>Expert</h4>
				<h2>Art Skills</h2>
			</div><!--end-item-->
   
		</div><!--end-cv-section-->
	</div><!--end-container-->
		
 	<div class="container grid">
 		<div class="col-4-12 cv-section-name"> 	
			<div class="content">
				<h2>Education</h2>
			</div><!--end-item-->
		</div><!--end-col-4-12-->
		
 		<div class="col-8-12 cv-section education"> 
				
			<div class="content item">
				<h2>Oklahoma City Community College</h2>
				<h3>Computer Science</h3>
			</div><!--end-item-->
				
			<div class="content item">
				<h2>Moore Norman Technology Center</h2>
				<h3>Information Technology</h3>	
			</div><!--end-item-->
				
			<div class="content item">
				<h2>Art Institute of Dallas</h2>
				<h3>Computer Animation/Art</h3>
			</div><!--end-item-->
			
			<div class="content item last">
				<a href="mailto: dustin@zindustry.com" class="btn">Hire Me ➝ </a>
				<a href="http://zindustry.com" class="btn">View Work ➝ </a>
			</div><!--end-item-->
				
		</div><!--end-cv-section-->
	</div><!--end-container-->
	
		
</div><!--end-cv-->
	

</body></html>