<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/resume.css">
    <link rel="icon" href="../static/images/asterisk-alt.png" />
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="../static/js/portfolio.js"></script>
    
      <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <meta content="">
    <script type="text/javascript">
    $(document).ready(function() {
   
      
   $("html").niceScroll({cursorborder:"#ccc",cursorcolor:"#000",boxzoom:true,touchbehavior:false}); // First scrollable DIV
   $('.workMenu').addClass('menuSeleceted');

  });



    </script>
  </head>
  <body>
  	<div class="outerWrapper">
  		<div class="wrapper">
  			<!-- <div class="loading-wrap">
  <div class="triangle1"></div>
  <div class="triangle2"></div>
  <div class="triangle3"></div>
</div> -->

  		<div class="header" style="position:fixed;" >
    <a href="#home"><p class="helloMenu" style="margin-left:30%;">HELLO</p></a>
    <a href="#about"><p class="aboutMenu">SKILLS</p></a>
    <span>*</span>
    <a href="#work"><p class="workMenu">WORK</p></a>
    <a href="#contact"><p class="contactMenu">CONTACT</p></a>
  </div>
  <div id="project-nav">
    <div class="container grid">
      <ul>
        <li><img src="../static/images/back-work.png" />BACK TO WORK</li>
        <li style="float:right;"><img src="../static/images/next-proj.png" style="float:right;margin-left:10px;margin-top:4px;" />NEXT PROJECT</li>

      </ul>
    </div>
  </div>
  <div class="workOverview">
    <h3>MakeMyTrip - Tripalong</h3>
    <span>An idea we conceived and executed for MakeMyTrip. It helps people find old friends and make new friends while travelling.</span>
    <div class="macOuter">
    <img src="../static/images/tripalong/001.png">
    </div>
    <div class="macOuter">
    <img src="../static/images/tripalong/002.png">
    </div>
    <div class="macOuter">
    <img src="../static/images/tripalong/003.png">
    </div>
    <div class="macOuter">
    <img src="../static/images/tripalong/004.png">
    </div>
    <div class="macOuter">
    <img src="../static/images/tripalong/005.png">
    </div>
    <div class="macOuter">
    <img src="../static/images/tripalong/006.png">
    </div>
    <div class="macOuter">
    <img src="../static/images/tripalong/007.png">
    </div>

   

  </div>
   </div>
 </div>

  </body>
</html>